<ion-view title="Currency Converter" cache-view="false">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Currency Converter</h1>
        <button class="button icon-left ion-home" ng-click="goToHome()">
        </button>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="list">
            <div class="item item-input-inset">
            
                <label class="item item-input">
                    <input placeholder="0.00" type="number" id="SourceValue" ng-model="source" ng-change="Currency()"/>
                </label>
                <select name="SourceCurrency" id="SourceCurrency" class="form-control" ng-change="Currency()" ng-model="sourceCurrency">
                    <option value="AUD">Australia Dollar</option>
                    <option value="BGN">Bulgaria Lev</option>
                    <option value="BRL">Brazil Real</option>
                    <option value="CAD">Canada Dollar</option>
                    <option value="CHF">Switzerland Franc</option>
                    <option value="CNY">China Yuan Renminbi</option>
                    <option value="CZK">Czech Republic Koruna</option>
                    <option value="DKK">Denmark Krone</option>
                    <option value="GBP">United Kingdom Pound</option>
                    <option value="HKD">Hong Kong Dollar</option>
                    <option value="HRK">Croatia Kuna</option>
                    <option value="HUF">Hungary Forint</option>
                    <option value="INR">India Rupee</option>
                    <option value="IDR">Indonesia Rupiah</option>
                    <option value="ILS">Israel Shekel</option>
                    <option value="JPY">Japan Yen</option>
                    <option value="KRW">Korea (South) Won</option>
                    <option value="MYR">Malaysia Ringgit</option>
                    <option value="MXN">Mexico Peso</option>
                    <option value="NZD">New Zealand Dollar</option>
                    <option value="NOK">Norway Krone</option>
                    <option value="PHP">Philippines Peso</option>
                    <option value="PLN">Poland Zloty</option>
                    <option value="RON">Romania New Leu</option>
                    <option value="RUB">Russia Ruble</option>
                    <option value="SEK">Sweden Krona</option>
                    <option value="SGD">Singapore Dollar</option>
                    <option value="THB">Thailand Baht</option>
                    <option value="TRY">Turkey Lira</option>
                    <option value="ZAR">South Africa Rand</option>
                    <option value="USD" selected="true">United States Dollar</option>
                </select>
        
            </div>
        </div>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item item-input">
                    <input placeholder="" type="number" id="TargetValue" disabled=""  />
                </label>
                <select name="TargetCurrency" id="TargetCurrency" ng-change="Currency()" ng-model="changedCurrency">
                    <option value="AUD">Australia Dollar</option>
                    <option value="BGN">Bulgaria Lev</option>
                    <option value="BRL">Brazil Real</option>
                    <option value="CAD">Canada Dollar</option>
                    <option value="CHF">Switzerland Franc</option>
                    <option value="CNY">China Yuan Renminbi</option>
                    <option value="CZK">Czech Republic Koruna</option>
                    <option value="DKK">Denmark Krone</option>
                    <option value="GBP">United Kingdom Pound</option>
                    <option value="HKD">Hong Kong Dollar</option>
                    <option value="HRK">Croatia Kuna</option>
                    <option value="HUF">Hungary Forint</option>
                    <option value="INR" selected="true">India Rupee</option>
                    <option value="IDR">Indonesia Rupiah</option>
                    <option value="ILS">Israel Shekel</option>
                    <option value="JPY">Japan Yen</option>
                    <option value="KRW">Korea (South) Won</option>
                    <option value="MYR">Malaysia Ringgit</option>
                    <option value="MXN">Mexico Peso</option>
                    <option value="NZD">New Zealand Dollar</option>
                    <option value="NOK">Norway Krone</option>
                    <option value="PHP">Philippines Peso</option>
                    <option value="PLN">Poland Zloty</option>
                    <option value="RON">Romania New Leu</option>
                    <option value="RUB">Russia Ruble</option>
                    <option value="SEK">Sweden Krona</option>
                    <option value="SGD">Singapore Dollar</option>
                    <option value="THB">Thailand Baht</option>
                    <option value="TRY">Turkey Lira</option>
                    <option value="ZAR">South Africa Rand</option>
                    <option value="USD">United States Dollar</option>
                </select>
            
        </div>
            </div>
    
        <!--<button type="button"  ng_click="Currency()" class="button button-royal button-block" >Convert</button>-->
    </ion-content>
</ion-view>